<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa mr w3 flex-none">
		<img src="/img/logo.jpg" alt="logo"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
			<li><a href="tel:0431016378" class="pa3 no-underline db">Call</a></li>

		<li><a href="/products" class="pa3 no-underline db">Lessons</a></li>

		<li><a href="/values" class="pa3 no-underline db">Values</a></li>

	</ul>

</nav>
<div class="scroll_top_hov"> 
	<div class="scroll_top" style="display:none"> 
	</div> 
	<div class="scroll_top_open active"> 
		<a href="/contact">
			<img src="/img/booknow.png" alt="Book your Driving Lesson" />
		</a> 
	</div> 
</div> 
<style>
.scroll_top_open{position:fixed;padding:0;top:30%;right:-250px;z-index:999;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out}.scroll_top_open.active{right:0px}.scroll_top.active{right:56px}.scroll_top_open a{font-size:24px;padding:0;display:block;color:#f4f4f4;background:rgba(15, 112, 183, 1);text-transform:uppercase}.scroll_top_open:hover a{color:#fff;background:rgba(15, 112, 183, 0.8)}*{margin:0px;padding:0px}
</style>